.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.img-responsive {
    display: inline-block;
}

.img-fluid{
    width: 200px;
    height: auto;
    border: 1px gray;
    border-radius: 5px;
}