html {
    font-size: 1rem;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.img-responsive {
    display: inline-block;
    width: 300px;
}

.img-fluid {
    width: 200px;
    height: auto;
}